
.classes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}
.classes li {
  padding: 8px 0;
}
.movies {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}
.movies li {
  min-width: 240px;
  padding: 20px;
  text-align: center;
}
.movies li div {
  border-radius: 12px;
  box-shadow: 0 3px 30px #efefef;
  min-height: 320px;

}

.movies li img.cover {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  height: 320px;
  min-height: 320px;
  border-radius: 12px;
}
.movies li a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #909090;
  letter-spacing: 1px;
}
.movies li a > strong {
  font-weight: 700;
  color: #4f4f4f;

}
.imdb {
  width: 36px;
  margin-left: 4px;
}
.inline-flex {
  display: inline-flex;
  overflow-x: auto;
  width: 100%;
}
.inline-flex ol {
  margin-left: 16px;
  padding: 0;
}
.inline-item {
  min-width: 280px;
  width: 280px;
  margin-right: 16px;
}
.scrollable-area {
  max-height: 120px;
  overflow: auto;
}
.rotated {
  transform: rotate(180deg);
}
.rotated ul {
  transform: rotate(180deg);
  list-style-type: decimal;
  margin: 0;
}
.reverse-column {
  display: flex;
  flex-direction: column-reverse;
}
