@font-face {
  font-family: 'SF-Pro';
  src: url('fonts/SF-Pro-Display-Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('fonts/SF-Pro-Display-Medium.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('fonts/SF-Pro-Display-Regular.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('fonts/SF-Pro-Display-Light.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('fonts/SF-Pro-Display-Thin.otf');
  font-weight: 400;
}


@font-face {
  font-family: 'SF-Pro';
  src: url('fonts/SF-Pro-Display-UltraLight.otf');
  font-weight: 300;
}


html, body {
  font-family: 'SF-Pro', Roboto;
  color: #2d2d2d;
  overflow: hidden;
  font-weight: 500;
  height: 100%;
  width: 100%;
}
small {
  color: #7c7c7c;
}
.avatar {
  border-radius: 36px;
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin: auto;
  margin-right: 8px;
}
.name-section {
  display: inline-flex;
  align-items: center;
}
.name-section h3 {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: row;
  max-width: 1336px;
  width: 100%; 
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
}
.sidebar {
  min-width: 300px;
  height: fit-content;
  padding: 16px;
}
.sidebar ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.sidebar ul li {
  padding: 4px;
}
.sidebar ul li a {
  text-decoration: none;
  color: inherit;
}
.sidebar ul li a:hover {
  color: rgb(26, 90, 169);
}
/* .main-body:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  border-radius: 1px;
  background-color: #ececec;
  height: 100%;
  display: block;
  content: '';
} */
.main-body {
  padding: 16px;
  min-height: 360px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.classes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}
.classes li {
  padding: 8px 0;
}
.movies {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}
.movies li {
  min-width: 240px;
  padding: 20px;
  text-align: center;
}
.movies li div {
  border-radius: 12px;
  box-shadow: 0 3px 30px #efefef;
  min-height: 320px;

}

.movies li img.cover {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  height: 320px;
  min-height: 320px;
  border-radius: 12px;
}
.movies li a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #909090;
  letter-spacing: 1px;
}
.movies li a > strong {
  font-weight: 700;
  color: #4f4f4f;

}
.imdb {
  width: 36px;
  margin-left: 4px;
}
.inline-flex {
  display: inline-flex;
  overflow-x: auto;
  width: 100%;
}
.inline-flex ol {
  margin-left: 16px;
  padding: 0;
}
.inline-item {
  min-width: 280px;
  width: 280px;
  margin-right: 16px;
}
.scrollable-area {
  max-height: 120px;
  overflow: auto;
}
.rotated {
  transform: rotate(180deg);
}
.rotated li {
  transform: rotate(180deg);
}
.reverse-column {
  display: flex;
  flex-direction: column-reverse;
}