<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/design/style.css" />
</head>
<body>
  <h1>Home</h1>
  <p>Home page has 1 css file and 1 js file which directed from <code> /design/...</code> which is from <code> /assets/..</code> folder in server.</p>
  <ul>
    <li>
      <a href="/products/add">Add product &rarr;</a>
    </li>
    <li>
      <a href="/products/get">Products/get &rarr;</a>
    </li>
    <li>
      <a href="/users/add">Add user &rarr;</a>
    </li>
    <li>
      <a href="/users/get">Users/get &rarr;</a>
    </li>
    <li>
      <a href="/afsd">Not found &rarr;</a>
    </li>
    <li>
      <a href="/users/error-test">Error thrown &rarr;</a>
    </li>
  </ul>
  <script src="/logic/init.js" ></script>
</body>
</html>