
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book add</title>
  <link rel="stylesheet" type="text/css" href="/design/style.css" />
</head>
<body>
  <h1>Book</h1>
  <form>
    <label>ID</label>
    <input type="text" id="id" name="id"><br>
    <label>Title</label>
    <input type="text" id="title" placeholder="Title" name="title"><br>
    <label>ISBN</label>
    <input type="text" id="ISBN" placeholder="ISBN" name="ISBN"><br>
    <label>Published Date</label>
    <input type="text" id="publishedDate" placeholder="Published Date" name="publishedDate"><br>
    <label>Author</label>
    <input type="text" id="author" placeholder="Author" name="author"><br>
  </form>
  <script src="/script/updater.js"></script>
</body>
</html>