<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
  <link rel="stylesheet" type="text/css" href="/design/style.css" />
</head>
<body>
  <h1>Books</h1>
  <p>
    <a href="/add">Add a book &rarr;</a>
  </p>
  <div>
    <table id="table-list">
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Published Date</th>
        <th>Author</th>
        <th>Actions</th>
      </thead>
    </table>
  </div>
  <script src="/script/fetcher.js"></script>
</body>
</html>