html {
  padding: 0;
  margin: 0;
}

body {
  padding: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

button,
.button {
  user-select: none;
  cursor: pointer;
  appearance: none;
  background-color: rgba(120, 120, 120, 0.2);
  border: none;
  border-radius: 4px;
  height: 32px;
  min-height: 32px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px;
  color: inherit;
}

button:hover,
.button:hover,
button.active,
.button.active {
  background: linear-gradient(rgb(85, 155, 240), rgb(32, 115, 216));
  color: white;
}

input,
textarea,
select {
  background-color: rgba(120, 120, 120, 0.1);
  color: inherit;
  width: 80px;
  border: none;
  border-radius: 0;
  min-height: 32px;
  border-radius: 4px;
  min-width: 160px;
  padding: 0 4px;
  margin-bottom: 4px;
}

form label,
.form label {
  min-width: 120px;
  display: inline-block;
}

a {
  font-size: 15px;
  color: rgb(0, 72, 255);
  text-decoration: none;
  margin: 0 4px;
  cursor: pointer;
  padding: 6px 10px;
}
a:hover {
  background: rgba(120, 120, 120, 0.2);
  border-radius: 4px;
}
tr {
  height: 36px;
}
tr th {
  background: rgba(120, 120, 120, 0.1);
  border-radius: 6px;
  padding: 4px 12px;
}
tr td {
  min-width: 83px;
  text-align: center;
}

#error {
  color: red;
  font-size: 13px;
  font-style: italic;
}
