input,
textarea,
select {
  background-color: rgba(120, 120, 120, 0.1);
  color: inherit;
  width: 80px;
  border: none;
  border-radius: 0;
  min-height: 36px;
  border-radius: 4px;
  min-width: 160px;
  padding: 0 4px;
}
code,
pre {
  font-size: 16px;
  color: #1467c6;
}
pre {
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
}
.actions {
  padding: 12px 0;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-6 {
  width: 50%;
}
.execution {
  color: rgb(212, 0, 81);
  font-weight: 700;
}
.remove {
  text-decoration: line-through;
}

.stack {
  background-color: rgba(122, 122, 122, 0.2);
  border-bottom: 1px solid rgba(122, 122, 122, 0.3);
  padding: 8px;
  min-height: 59px;
}
.closure {
  background-color: rgba(0, 119, 255, 0.2);
  padding: 8px;
}
.step1,
.step2,
.step3,
.step4,
.step5,
.step6,
.forstep1,
.forstep2,
.forstep3,
.forstep4,
.forstep5,
.forstep6 {
  display: none;
}

.showStep1 .step2,
.showStep1 .step3,
.showStep1 .step4,
.showStep1 .step5,
.forshowStep1 .forstep2,
.forshowStep1 .forstep3,
.forshowStep1 .forstep4,
.forshowStep1 .forstep5 {
  display: none;
}

.showStep2 .step1,
.showStep2 .step3,
.showStep2 .step4,
.showStep2 .step5,

.forshowStep2 .forstep1,
.forshowStep2 .forstep3,
.forshowStep2 .forstep4,
.forshowStep2 .forstep5{
  display: none;
}

.showStep3 .forstep2,
.showStep3 .forstep4,
.showStep3 .forstep5,

.forshowStep3 .forstep2,
.forshowStep3 .forstep4,
.forshowStep3 .forstep5{
  display: none;
}

.showStep4 .step2,
.showStep4 .step3,
.showStep4 .step5,

.forshowStep4 .forstep2,
.forshowStep4 .forstep3,
.forshowStep4 .forstep5 {
  display: none;
}

.showStep2 .step3,
.showStep2 .step4,
.showStep2 .step5,

.forshowStep2 .forstep3,
.forshowStep2 .forstep4,
.forshowStep2 .forstep5{
  display: none;
}

.showStep1 .step1 ,
.forshowStep1 .forstep1 {
  display: block;
}
.showStep2 .step2,
.forshowStep2 .forstep2 {
  display: block;
}
.showStep3 .step3,
.forshowStep3 .forstep3  {
  display: block;
}
.showStep4 .step4,
.forshowStep4 .forstep4  {
  display: block;
}
.showStep5 .step5,
.forshowStep5 .forstep5  {
  display: block;
}
.showStep6 .step6,
.forshowStep6 .forstep6 {
  display: block;
}
.variables {
  font-family: monospace;
}